html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2vh;
}

#board-container {
  display: flex;
}

#controls-container {
  display: flex;
  border-radius: 4px;
  background-color:#F0F0F0;
  padding: 3px;
}

#txt-turn-info {
  margin: 1.5vh 0;
}

.btn {
  padding: 8px 12px;
  margin: 3px;
  font-size: 16px;
  color:#FFFFFF;
  background-color:#667E8A;
  border: 1px solid #5C727D;
  border-radius: 4px;
  transition: all ease 0.3s;
}

.btn:hover {
	background-color:#5C727D;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #7F9CAA;
  background-color: #5C727D;
}

.btn:active {
	background-color: #4A5B63;
}

.btn:disabled {
  opacity: 0.5;
}

#board {
  touch-action: none;
  border-radius: 4px;
}